body {
    background-color: burlywood;
}

.career-posters-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.career-poster {
    border: 1px solid black;
    min-width: 50%;
    max-width: 100%;
    padding: 5px;
    width: 300px;
}